
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
  --font-family: 'Manrope', sans-serif;
  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}

body {
    font-family: var(--font-family);
    color: #fff;
    background-color: var(--color-bg);
}

button, img, a {
    cursor: pointer;
}

header{
    background: radial-gradient(circle at 3% 25%,#002853 0,#040c18 100%);
    height: 100%;
    padding: 0 1.5rem 4rem;
}

.hero-content{
    margin-top: 4rem;
}

.flex {
    display: flex;
}

.nav-top {
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

#sign-up {
    background-color: #ff4820;
   border-radius: 5px;
   margin-top: 5px;
   width: 80px;
   height: 2.5rem;
   display: flex;
   justify-content: center;
   align-items: center;

}
.show-links {
    position: fixed;
    z-index: 9999;
    height: 350px;
    width: 200px;
    top: 4rem;
    right: 2rem;
    background-color: var(--color-footer);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #close-icon {
      position: relative;
      top: 0;
      left: 0;
      display: none;
  }

  nav {
    overflow: hidden;
    height: 0;
  }

  .nav-items li a {
    text-decoration: none;
    color: #fff;
  }

#home-photo {
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
}

h1, .possible {
    background: var(--gradient-text);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-background-clop: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.description {
    margin: 1.5rem 0;
}

p {
    color: #81AFDD;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

#people {
    display: block;
    margin: auto;
}

input {
    background-color: #052D56;
    outline: none;
    border: none;
    margin-right: -2px;
    height: 3rem;
    padding-left: 2.5rem;
    width: 70%;
}

.input-btn {
    border: none;
    background-color: #FF4820;
    color: #fff;
    width: 28%;
    height: 3rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
   color: #3D6184;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #3D6184;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #3D6184;
  }

.people-wrapper {
    margin: 2rem 0 4rem;
}

.num-people {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}

.section, .features {
    background-color: var(--color-bg);
    height: 100%;
}

.company-logo img {
    padding: 1rem;
}

.company-logo{
    margin: 4rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hr-line {
    width: 2.5rem;
    height: 3px;
    background: var(--gradient-bar);
    margin-bottom: 5px;
}

.coloured {
    background-color: var(--color-blog);
    margin: 0rem 2rem 4rem;
    padding: 2rem;
}

.coloured p {
    margin: 1rem 0;
}

.possible-wrap {
    margin: 5rem 0 2rem;
}

.possible{
    font-size: 1.7rem;
}

.explore {
    color: var(--color-subtext);
    font-size: 16px;
}

.library {
    margin-bottom: 2rem;
}

.library h5 {
    font-size: 1.1rem;
}

.features {
    padding: 0 2rem;
}

.future {
    margin-bottom: 3rem;
}

.future .explore {
    margin-top: 2rem;
}

.wrap div{
    margin-right: 2rem;
}

.wrap div h5 {
    font-size: 0.9rem;
}

.girl-image-section{
    padding: 4rem 2rem;
}

.girl-image-section h1 {
    padding-top: 1rem;
}

.feature-desc{
    padding: 1rem 0;
}

#girl-photo {
    width: 100%;
}

.request {
    color:  #71E5FF;
    font-size: 16px;
    padding-top: 1rem;
}

.register {
    width: 85%;
    background: var(--gradient-bar);
    height: auto;
    margin: 0rem auto 6rem;
    border-radius: 15px;
    padding: 1.5rem;
}

.register p, .register h4 {
    color: #000;
}

.register h4  {
    font-weight: 800;
    margin: 0.5rem 0 2rem;
}

.register p{
    font-size: 12px;
    font-weight: 600;  
}

.register button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50px;
    margin: auto;
    display: block;
    height: 3rem;
    width: 9rem;
}

.blog {
    margin: 0 2rem 4rem;
}

.blog h1 {
    margin-bottom: 4rem;
    font-size: 1.8rem;
}

.box {
    background-color: var(--color-blog);
    min-height: 340px;
    margin-bottom: 2rem;
}

.box h4 {
    margin: 0.5rem 0 3rem;
}

.box p {
    color: #fff;
    font-size: 12px;
}

.box img {
    width: 100%;
}

.box>div {
    margin: 1rem;
}

footer {
    background-color: var(--color-footer);
    padding: 4rem 2rem;
}

footer button{
    border: 1px solid #fff;
    color: #fff;
    outline: none;
    padding: 1rem 2rem;
    margin: 4rem auto 7rem;
    display: block;
    background-color: inherit;
}

footer img {
    height: 1.5rem;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
}

footer a, address {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-style: normal;
}

footer h6 {
    font-size: 0.8rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.footer-inner {
    margin-bottom: 2rem;
}

li {
    padding: 4px 0;
}

@media only screen and (min-width: 540px) {
    header{
        padding: 0 4rem 4rem;
    }

    header h1 {
        font-size: 2.6rem;
    }

    header p, header button {
        font-size: 15px;
    }

    .show-links {
        height: 400px;
        width: 250px;
        top: 4rem;
        right: 6rem;
      }
    
    .coloured {
        margin: 0rem 4rem 4rem;
    }
   
    .coloured h4 {
        font-size: 1.2rem;
    }

    .possible {
        font-size: 1.84rem;
    }

    .features {
        padding: 0 4rem;
    }

    .wrap div {
        margin-right: 4rem ;
    }

    .features h1, .girl-image-section h1, .blog h1 {
        font-size: 2rem;
    }

    .girl-image-section, footer{
        padding: 4rem;
    }

    .register {
        width: 80%;
    }
   
    .register h4 {
        font-size: 1.5rem;
    }
    
    .blog {
        margin: 0 4rem 4rem;
    }

    .box {
        height: 420px;
    }

    .box h4 {
        font-size: 1.3rem;
    }

    footer h1 {
        font-size: 2.3rem;
    }

    footer button {
        font-size: 15px;
    }

    footer a, address {
        font-size: 13px;
    }
}

@media only screen and (min-width: 700px) {
    header{
        padding: 0 6rem 4rem;
    }

    .nav-items li a {
        font-size: 1.1rem;
        }

    header h1 {
        font-size: 3.4rem;
    }

    header p, header button, .explore {
        font-size: 16px;
    }

    .num-people, .coloured p {
        font-size: 15px;
    }

    .coloured {
        margin: 0rem 6rem 5rem;
    }

    .what-is-gpt {
        display: flex;
        justify-content: space-between;
    }

    .what-is-gpt p {
        width: 66%;
    }

    .coloured h4 {
        font-size: 1.3rem;
    }

    .possible {
        font-size: 2rem;
    }

    .features {
        padding: 0 6rem;
    }

    .wrap div {
        margin-right: 5rem ;
    }

    .wrap div h5 {
        font-size: 1.1rem;
    }

    .features h1, .girl-image-section h1, .blog h1 {
        font-size: 2.3rem;
    }

    .girl-image-section, footer{
        padding: 6rem;
    }

    .feature-desc {
        font-size: 15px;
    }

    .register {
        width: 80%;
        display: flex;
    }

    .request, .explore {
        font-size: 17px;
    }

    .register button {
        width: 15rem;
    }
    
    .blog {
        margin: 0 4rem 4rem;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        gap: 30px;
    }

    .box {
        min-height: 380px;
    }

    .box h4 {
        font-size: 1.3rem;
    }

    footer h1 {
        font-size: 2.7rem;
    }

    footer button {
        font-size: 16px;
    }

    .footer-flex {
        margin-top: 4rem;
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1000px) {
    header{
        padding: 0 2rem 4rem;
    }

    nav {
        overflow: visible;
    }

    #hamburger {
        display: none;
    }

    .nav-items {
        display: flex;
        justify-content: space-around;
        position: relative;
        bottom: 3.3rem;
        margin-left: 4rem;
    }

    .nav-items >div {
        display: flex;
    }

    .nav-items li {
        padding: 0 10px;
    }

    #sign-up {
        margin: 0 0 0 1rem;
        width: 85px;
        position: relative;
        bottom: 0.5rem;
    }

    .hero-content {
        display: flex;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .hero-content > div {
        width: 53%;
        margin-right: 4rem;
    }

    #home-photo {
        width: 40%;
        margin: unset;
    }

    header h1 {
        font-size: 3rem;
    }

    .possible-wrap {
        display: flex;
        margin: 5rem 0;
        justify-content: space-between;
    }

    .possible {
        font-size: 2.2rem;
        width: 60%;
    }

    .explore {
        font-size: 19px !important;
    }

    .library-wrap {
        display: flex;
        justify-content: space-between;
    }

    .library{
        width: 30%;
    }

    .library h5 {
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }

    .coloured h4 {
        font-size: 1.5rem;
    }

    .coloured p {
        font-size: 16px;
    }

    .features-library {
        display: unset;
    }

    .features-library .library {
        width: unset;
    }

    .features {
        display: flex;
        align-items: baseline;
        padding: 6rem;
    }

.features p {
    font-size: 15px;
}

    .features .future {
        width: 84%;
        margin-right: 4rem;
    }

    .features h1 {
        font-size: 2rem;
    }

    .girl-image-section {
        display: flex;
        align-items: center;
    }

    #girl-photo {
        width: 50%;
        margin-right: 4rem;
    }
    
    .feature-desc {
        font-size: 16px;
    }

    .register {
        padding: 3rem 1.5rem;
        width: 85%;
    }

    .register button {
        width: 12rem;
        font-size: 15px;
    }

    .register p {
        font-size: 14px;
    }

    .register h4 {
        font-size: 1.7rem;
    }
    .blog h1 {
        font-size: 2.8rem;
    }

    .box h4 {
        font-size: 1.5rem;
    }

    .box p {
        font-size: 14px;
    }

    footer h1 {
        font-size: 3rem;
        text-align: center;
    }

    footer button {
        font-size: 18px;
        padding: 1.5rem 2.5rem;
    }

    footer a, address {
        font-size: 14px;
    }

    footer h6 {
        font-size: 1.2rem;
    }

    footer img {
        height: 2rem;
    }
}

@media only screen and (min-width: 1250px) {
    .hero-content > div {
        width: 40%;
        margin-right: 6rem;
    }

    #logo {
        position: absolute;
        left: 7rem;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 30px;
        justify-content: center;
    }

    .box {
        width: 300px;
    }

    .blog h1 {
        text-align: center;
    }
    .footer-flex{
        width: 70%;
        justify-content: space-around;
    }

    .footer-flex-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
